.projectsMainDiv {
    height: 2220px;
    margin-left: 40px;
    margin-right: 40px;
}

.projects {
    letter-spacing: 3px;
    font-size: 300%;
    margin-top: 5px;
}

/* gmail clone style start */
.gmailClone {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.gmailCloneText {
    font-family: Trebuchet MS;
    color: aqua;
    max-width: fit-content;
    border-bottom: 3px solid rgb(255, 193, 7);
}

.gmailCloneDesc {
    font-family: Trebuchet MS;
}

.gmailCloneSpecifications {
    font-family: Arial;
}

.gmailCloneProjectButtons {
    display: flex;
    border: 2px solid rgb(255, 193, 7);
    border-radius: 10px;
    position: relative;
    top: 50;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gmailClonebuttonDiv {
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: space-between;
    border: 3px solid rgb(255, 193, 7);
    max-width: fit-content;
    margin-top: 0px;
}
/* gmail clone style end */

/* user management style start */
.userManagementDiv {
    margin-top: 80px;
}

.userManagementCarouselDiv {
    max-height: 380px;
    max-width: 730px;
}

.userManagementViaGoogleAuth {
    font-family: Trebuchet MS;
    color: aqua;
    max-width: fit-content;
    border-bottom: 3px solid rgb(255, 193, 7);
}

.userManagementDesc {
    font-family: Trebuchet MS;
}

.userManagementSpecification {
    font-family: Arial;
}
/* user management style end */

/* recipe book style start */
.recipeBookMainDiv {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.recipeBook {
    font-family: Trebuchet MS;
    max-width: fit-content;
    color: aqua;
    border-bottom: 3px solid rgb(255, 193, 7);
}

.recipeBookDesc {
    font-family: Trebuchet MS;
}

.recipeBookSpecification {
    font-family: Arial;
}

.recipeBookCrouselDiv {
    max-height: 400px;
    margin-top: 80px;
}
/* recipe book style end */

@media (max-width:400px) {
    .projectsMainDiv {
        height: 3820px;
        margin-left: 10px;
        margin-top: 50px;
        margin-right: 10px;
    }

    .gmailClone {
        display: block;
    }

    .projects {
        letter-spacing: 3px;
        font-size: 250%;
    }

    .gmailCloneCarousel {
        margin-top: 30px;
    }
}