.pujariJcbDiv {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.userManagementCarouselDiv {
    max-height: 380px;
    max-width: 730px;
}

.pujariJcbSpares {
    font-family: Trebuchet MS;  
    color: aqua;
    max-width: fit-content;
    border-bottom: 3px solid rgb(255, 193, 7);
    padding-bottom: 4px;
}

.pujariJcbDesc {
    font-family: Trebuchet MS;
}

.pujariJcbSpecification {
    font-family: Arial;
}

.pujariJcbButtonDiv {
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: space-between;
    border: 3px solid rgb(255, 193, 7);
    max-width: fit-content;
    margin-top: 0px;
}
@media (max-width:400px) {
    .pujariJcbDiv {
        margin-top: 40px;
        display: block;
        border-bottom: 3px solid white;
        align-items: center;
    }

    .pujariJcbSpares {
        font-family: Trebuchet MS;
        color: aqua;
        font-size: 130%;
        max-width: fit-content;
        border-bottom: 3px solid rgb(255, 193, 7);
    }

    .pujariJcbButtonDiv {
        margin-bottom: 20px;
    }
}