.userManagementDiv {
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.userManagementCarouselDiv {
    max-height: 380px;
    max-width: 730px;
}

.userManagementViaGoogleAuth {
    font-family: Trebuchet MS;
    color: aqua;
    max-width: fit-content;
    border-bottom: 3px solid rgb(255, 193, 7);
}

.userManagementDesc {
    font-family: Trebuchet MS;
}

.userManagementSpecification {
    font-family: Arial;
}

@media (max-width:400px) {
    .userManagementDiv {
        margin-top: 40px;
        display: block;
        border-bottom: 3px solid white;
        align-items: center;
    }

    .userManagementViaGoogleAuth {
        font-family: Trebuchet MS;
        color: aqua;
        font-size: 130%;
        max-width: fit-content;
        border-bottom: 3px solid rgb(255, 193, 7);
    }

    .gmailClonebuttonDiv {
        margin-bottom: 20px;
    }
}