.educationMainDiv {
    margin-top: 50px;
}

.education {
    letter-spacing: 3px;
    margin-left: 90px;
    font-size: 300%;

}

.leftDiv {
    font-family: Trebuchet MS;
}

.textAlignEnd {
    text-align: end;
}

.sscDiv {
    margin-top: 250px;
}

.hscDiv {
    /* margin-top: 200px; */
}