.certificationMainDiv {
    height: 500px;
}

.certificationDivOne {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%
}

.certification {
    font-size: 280%;
    letter-spacing: 3px;
}

.certficateInfo {
    width: 800px;
}

.fullStackWebDevelopment {
    margin-top: 15px;
    padding-bottom: 3px;
    font-family: Trebuchet MS;
    border-bottom: 3px solid rgb(255, 193, 7);
}

.certificateLink {
    text-decoration: none;
}

.certificationImageDiv {
    width: 500px;
    height: 300px;
}

.certificationImage {
    width: 100%;
    height: 100%;
    border: 3px solid rgb(255, 193, 7);
    border-radius: 6px;
}

@media (max-width:400px) {
    .certificationMainDiv {
        height: 520px;
        margin-top: 40px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .certificationDivOne {
        display: block;
        position: relative;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        width: 100%
    }

    .fullStackWebDevelopment {
        font-family: Trebuchet MS;
        max-width: 200%;
        margin-top: 10px;
        border-bottom: 3px solid rgb(255, 193, 7);
    }

    .certficateInfo {
        width: 100%;
    }

    .certification {
        font-size: 200%;
        letter-spacing: 3px;
    }

    .certificationImageDiv {
        width: 300px;
        height: 200px;
        position: relative;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        margin-top: 30px;
    }
}