.contactMainDiv{
    height: 500px;
}

.contactLeftDiv{
    /* margin-top: 110px; */
    /* margin-left: 90px; */
}

.contact{
    max-width: fit-content;
    font-size: 300%;
    letter-spacing: 3px;
}

.message{
    font-family:Trebuchet MS;
    color: aqua;
}

.email{
    font-family:Trebuchet MS;
}

.mobileNumber{
    font-family:Trebuchet MS;
}

.contactFormDiv{
    /* margin-left: 150px;
    margin-top: 110px; */
}

.formInpulabel{
    color: aqua;
    font-family:Trebuchet MS;
}
