.contactMainDiv {
    height: auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0px;
}

.contactLeftDiv {
    width: 700px;
}

.contact {
    font-size: 300%;
    letter-spacing: 3px;
}

.contactFormDiv {
    width: 500px;
}

.message {
    font-family: Trebuchet MS;
    color: aqua;
}

.email {
    font-family: Trebuchet MS;
}

.mobileNumber {
    font-family: Trebuchet MS;
}

.formInpulabel {
    color: aqua;
    font-family: Trebuchet MS;
}

.linkdinGithub {
    width: 10%
}

@media (max-width:400px) {
    .contactMainDiv {
        height: auto;
        margin-top: 50px;
        display: block;
        margin-bottom: 30px;
    }

    .contactLeftDiv {
        width: 100%;
    }

    .contact {
        margin-left: 15px;
        font-size: 250%;
        letter-spacing: 3px;
    }

    .message {
        width: 90%;
        position: relative;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .contactFormDiv {
        width: 90%;
        position: relative;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        margin-top: 20px;
    }

    .d-flex {
        margin-left: 22px;
    }

    .linkdinGithub {
        width: 20%;
    }
}